body {
 
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.head__phone{
    font-size:13pt;
    float:right;
    height:50px;
    text-align:center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-brand img{
    height:50px;
}
.row-right .col-md-4,.row-right .col-md-8 {
    float:right;
}
.service__row {
padding-top:30px;
padding-bottom:30px;
    line-height: 1.7;
}
.row-right {
    background-color: #d8cbcb;
}
.service__row h3 {
    color: #000000;
    font-size: 22pt;
    line-height: 56px;
          margin-bottom: 40px;
  
            letter-spacing: 2px;
            text-transform:uppercase;
}
.service__image {
    width:100%;
}