body {
 
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.head__phone{
    font-size:13pt;
    float:right;
    height:50px;
    text-align:center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-brand img{
    height:50px;
}
.row-right .col-md-4,.row-right .col-md-8 {
    float:right;
}
.service__row {
    padding-top:30px;
    padding-bottom:30px;
    line-height: 1.7;
}
.row-right {
    background-color: #d8cbcb;
}

.service__row h3 {
    color: #000000;
    font-size: 22pt;
    line-height: 56px;
    margin-bottom: 40px;
    letter-spacing: 2px;
    text-transform:uppercase;
}

.service__row button{
    margin:15px 0px 15px 0px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
    background-color: #d8cbcb;
    border-width:2px;
    border-radius: 1px;
    color: #FFFFFF;
    font-weight:bold;
    border-color:#828282 ;
}

.service__row button:hover{
    margin:15px 0px 15px 0px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
    border-width:2px;
    border-radius: 1px;
    background-color: #FFFFFF;
    color: #000000;
    font-weight:bold;
}

.row-right button{
    background-color: #FFFFFF;
    color: #000000;
    font-weight:bold;
}

.row-right button:hover{
   background-color: #d8cbcb;
    color: #FFFFFF;
}

.service__image {
    width:100%;
}
.body-content-main {
    margin-top:50px;
    background-image:none!important;
}

.body-content-main .main{
    background:#fff url(../images/main.jpg) no-repeat center top fixed;
}

.body-content-main .main.mslesar{
    background:#fff url(../images/main-slesar.jpg) no-repeat center top fixed;
}



.action__text {
    margin-bottom: 22px;
    color: #111;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.75;
}

.action__img {
    margin-bottom:15px;
}

.action__img img {
    width: 100%;
}

.action__text {
    text-overflow:ellipsis;
    color: #111;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.75;
}

.action__date {
    margin-bottom: 10px;
    font-size: 13px;
    text-decoration: none;
    color: #aaa;
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.action__title {
    color: #555;
    text-decoration: none;
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        font-size: 20px;
    font-weight: 300;
}
.action__card {
    margin-top:80px;
    background-color:transparent;       
}

.action__btn button{
color: #777;
background: #e5e5e5;
}

.price__table{
    padding:0px 200px 20px 200px; 
    color: #000000;
    font-size: 13pt;
    text-align: center;
}

.navbar-inverse {
    border-color: #e5e5e5;
}

.contact-page{
    background-color:#444444;
    color:#FFFFFF;
    /*margin-top:150px;*/
}

.contact-page__contacts__title {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 300;
}

/*.contact-page__contacts__descr {
    font-size: 19px;
    font-weight: 300;
}*/

.contact-page__contacts__icon {
    width: 64px;
    height: 64px;
    /*display: inline-block;*/
    font-size: 28px;
    line-height: 64px;
    /*color: #fff;*/
    color:#444444;
    background: #FEB76D;
    margin-top: 15px;
    text-align:center;
    -webkit-border-radius: 90%;
    -moz-border-radius: 90%;
    border-radius: 90%;

}

.contact-page__contacts__icon i{
    padding-top:10px;
    padding-bottom:10px;
}

.contact-page__map iframe{
    width:100%;
    height:450px;
    padding-left:2px;
    padding-right:2px;
    
}

.maps{padding-bottom:70px;}

.any_q h3{
    color:red;
}

.contact-page__contacts{
    padding-top:70px;
    padding-bottom:70px;
}

.contact-page__contacts__descr {
    margin-top:15px;
    font-size: 19px;
    font-weight: 300;
    vertical-align: middle;
    padding-top:20px;
 }

.contact-page__contacts__descr a:visited {
    color: #FFFFFF;
}

.contact-page__contacts__descr a:hover {
    color: #FEB76D;
 }

.contact-page__contacts__descr a:active {
    color: #FFFFFF;
 }

.schedule{
    /*margin-left:30px;*/
    margin-right:30px;
    margin-top:10px;
    font-size:14px;
    /*padding-left:15px;
    padding-right:15px;*/
    /*float:right;*/
    /*background:url('logo.png') no-repeat 0 0 0 10 ;*/
}

.container{
    max-width:1300px;
}

.action_title{
    font-family: 'Russo One', sans-serif;
    font-size: 25pt;
    margin-top:30px;
}

footer{
    background-color:#01579B;
}

footer .wrap{
    margin:45px auto 30px auto;
    width:1500px;
}

.footer_q{
    color:white;
    float: left;
    font-size: 18px;
    line-height: 20px;
}

.footer_q h3{
    color: #ffa400;
}

.footer_q a {
        display: inline-block;
        font-size: 18px;
        line-height: 18px;
        border-bottom: #fff dashed 1px;
        color: #fff;
    }

.icons{
    float:left;
}
.icons_fb, .icons_vk, .icons_insta{
    line-height:30px!important;
    text-align:center;
    width:30px;
    height:30px;
    background-color:transparent;
    border-radius:50%;
    border: 1px solid #ffa400;
    float:left;
    margin-left:10px;
    font-weight:bold;
    color:white;
}
.icons_fb i,.icons_vk i,.icons_insta i{
    padding-top:5px;
    padding-bottom:5px;
}

.car_classes{
    text-align:center;
}

.car_classes h3{
    line-height: 24px;
    font-size:24px;
    font-family: 'pt_bold';
    text-transform: uppercase;
    letter-spacing: 1px;
}

.car_classes label{
    margin-right:7px;
}

.car_classes .row{
    margin-top:20px;
}

.car_classes_class {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
.car_classes_class + label {
  visibility:visible;
  cursor: pointer;
}
.car_classes_class:not(checked) {
  position: absolute;
  opacity: 0;
}
.car_classes_class:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
.car_classes_class:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}
.car_classes_class:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  /*background: #9FD468;*/
  background: rgb(255,204,2);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 0;
  transition: all .2s;
}
.car_classes_class:checked + label:after {
  opacity: 1;
}
.car_classes_class:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}





