{% extends "base.html" %}
{% load staticfiles %}
{% block content %}


<div class = "body-locksmith">
<input type="hidden" name="first_thumb" class="first_thumb" value="true">
<input type="hidden" name="page" value="/a/">
<input type="hidden" name="ref_url" value="">
<div id="callback" class="modal callback">
	<div class="modal-box">
		<div class="modal-title">
			Заказать звонок
			<span>заполните форму и мы вам обязательно перезвоним!</span>
		</div>
		<form id="callbacks" name="callbacks" action="/sender.php">
			<input type="hidden" name="referer" value="http://pitline59.ru/">
			<label class="name top required"><input type="text" name="name" class="input_name" placeholder="ваше имя" /></label>
			<label class="phone top required"><input type="text" name="phone" class="input_phone" placeholder="ваш телефон" /></label>
			<input class="bttn button" type="button" name="callback" value="Оставить заявку" />
		</form>
	</div>
</div>
<div id="photo" class="modal photo">
	<div class="modal-box">
		<div class="modal-title">
			Рассчитать стоимость
			<span>заполните форму и мы вам обязательно перезвоним!</span>
		</div>
		<form id="callbacks" name="callbacks" action="/sender.php">
			<input type="hidden" class="formname" name="name" value="">
			<input type="hidden" name="referer" value="http://pitline59.ru/">
			<label class="name left required"><input type="text" name="name" class="input_name" placeholder="ваше имя" /></label>
			<label class="phone left required"><input type="text" name="phone" class="input_phone" placeholder="ваш телефон" /></label>
			<label class="email left"><input type="text" name="send" class="input_email" placeholder="ваш e-mail" /></label>
			<input class="bttn button" type="button" name="request" value="Оставить заявку" />
		</form>
	</div>
</div>
<div id="makeorder" class="modal makeorder">
	<div class="modal-box">
		<div class="modal-title">
			Оставить заявку
			<span>заполните форму и мы обязательно свяжемся с вами!</span>
		</div>
		<form id="callbacks" name="callbacks" action="/sender.php">
			<input type="hidden" class="formname" name="name" value="">
			<input type="hidden" name="referer" value="http://pitline59.ru/">
			<label class="name left required"><input type="text" name="name" class="input_name" placeholder="ваше имя" /></label>
			<label class="phone left required"><input type="text" name="phone" class="input_phone" placeholder="ваш телефон" /></label>
			<label class="email left"><input type="text" name="send" class="input_email" placeholder="ваш e-mail" /></label>
			<input class="bttn button" type="button" name="request" value="Оставить заявку" />
		</form>
	</div>
</div>
<div id="question" class="modal question">
	<div class="modal-box">
		<div class="modal-title">
			Задать вопрос
			<span>заполните форму и мы обязательно свяжемся с вами!</span>
		</div>
		<form id="callbacks" name="callbacks" action="/sender.php">
			<input type="hidden" name="referer" value="http://pitline59.ru/">
			<div class="form_left">
				<label class="name right required"><input type="text" name="name" class="input_name" placeholder="ваше имя" /></label>
				<label class="email right"><input type="text" name="send" class="input_email" placeholder="ваш e-mail" /></label>
				<label class="phone right required"><input type="text" name="phone" class="input_phone" placeholder="ваш телефон" /></label>
			</div>
			<div class="form_right">
				<textarea placeholder="ваш вопрос"></textarea>
			</div>
			<div class="clear"></div>
			<input class="bttn button" type="button" name="question" value="Задать вопрос" />
		</form>
	</div>
</div>
<div class="page">
	<header>
		<div class="wrap">
			<div class="logo"></div>
			<div class="t_phone">
				 +7(342) 288 11 91  &nbsp;
				<a id="go" rel="leanModal" name="callback" href="#callback" class="mc">заказать звонок</a>
			</div>
			<div class="clear"></div>
		</div>
	</header>
	<section class="main">
		<div class="wrap">
			<h1>
				Автосервис слесарных работ
для всех видов автомобилей <br />
				<span>У нас нет фиксированной цены за деталь, наше основное отличие - индивидуальный подход к клиенту<br><b>Ждем всех по адресу: ул. Шоссе Космонавтов 310Г</b></span>
			</h1>
			<div class="timer_block first_timer">
				<span>Оставьте заявку</span>
				и получите<br><b>скидку 1 000 руб.</b><br>на любые виды услуг
				<div class="timer">
					<div class="pt-contain">
						<div class="days">
							<span class="flip day1Play">0</span>
							<span class="flip dayPlay">0</span>
							<em>&nbsp;дней</em>
						</div>
						<div class="hours">
							<span class="flip hour2Play"></span>
							<span class="flip hourPlay"></span>
							<em>&nbsp;часов</em>
						</div>
						<div class="minutes">
							<span class="flip minute6Play"></span>
							<span class="flip minutePlay"></span>
							<em>&nbsp;минут</em>
						</div>
						<div class="seconds">
							<span class="flip second6Play"></span>
							<span class="flip secondPlay"></span>
							<em>&nbsp;секунд</em>
						</div>
					</div>
				</div>
			</div>
			<div class="order_block first_order">
        <!--
				<span>Оставьте заявку</span>
				и получите <b>бесплатную полировку</b><br />фар вашего автомобиля!
        -->
				<form id="callbacks" name="callbacks" action="/sender.php">
					<input type="hidden" class="formname" name="mname" value="">
					<input type="hidden" name="referer" value="http://pitline59.ru/">
					<label class="name left required"><input type="text" name="name" class="input_name" placeholder="имя" /></label>
					<label class="phone left required"><input type="text" name="phone" class="input_phone" placeholder="телефон" /></label>
					<label class="email left"><input type="text" name="send" class="input_email" placeholder="e-mail" /></label>
					<input type="button" class="bttn button" name="request" value="Отправить заявку" />
				</form>
			</div>
		</div>
	</section>
	<a name="cifr"></a>
	<section class="counts">
		<div class="wrap">
			<div class="count c1">
				высококлассных<br />специалистов, имеющих<br />огромный опыт
			</div>
			<div class="count c2">
				клиентов уже<br />выбрали нас <br />и остались<br />довольны
			</div>
			<div class="count c3">
				года <br />успешных <br />работ <br />по покраске 
			</div>
			<div class="count c4">
				месяцев гарантии <br />на все выполненные <br />работы
			</div>
			<div class="clear"></div>
		</div>
	</section>
	<a name="sravnenie"></a>
	<section class="reasons">
		<h2>До сих пор не решились отдать свое авто в сервис?</h2>
		<div class="wrap scroll-animate">
			<div class="fade">
				<div class="reason rq">
					Боитесь, что изначально вам назовут одну<br />цену, а после ремонта – другую?
				</div>
				<div class="reason ra">
					<span>Прозрачная цена</span>
					Цена на покраску и ремонтные работы останется<br />неизменной - без "внезапных" затрат<br />и наценок на детали.
				</div>
				<div class="clear"></div>
			</div>
			<div class="fade">
				<div class="reason rq">
					Необходим срочный<br />ремонт авто после ДТП?
				</div>
				<div class="reason ra">
					<span>Срочный ремонт</span>
					Все работы по покраске и ремонту вашего авто<br />будут выполены в срок от 2х часов до 3х дней <br /> в зависимости от сложности работ.
				</div>
				<div class="clear"></div>
			</div>
			<div class="fade">
				<div class="reason rq">
					Квалификация работников<br />автосервисов вызывает у вас недоверие?
				</div>
				<div class="reason ra">
					<span>Только опытные мастера</span>
					Специалисты нашего сервиса – профессионалы<br />с опытом работы более 5 лет в сфере покраски и ремонта авто.
				</div>
				<div class="clear"></div>
			</div>
			<div class="fade">
				<div class="reason rq">
					Появилось желание<br />изменить внешний вид авто?
				</div>
				<div class="reason ra">
					<span>Блестящий вид авто надолго</span>
					Мы работаем только с проверенными<br />производителями лакокрасочных<br />покрытий из Англии, Японии и Германии,<br /> чья надежность проверена временем! 
				</div>
				<div class="clear"></div>
			</div>
			<div class="fade">
				<div class="reason rq">
					Ждете гарантий на все<br />выполненные работы?
				</div>
				<div class="reason ra">
					<span>Гарантия один год</span>
					 Мы предоставляем гарантию 12 месяцев<br />на все покрасочные и ремонтные работы.
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</section>
	<a name="promo1"></a>
	<section class="order_photo">
		<div class="wrap">
			<div class="order_img2"></div>
			<div class="order_block2">
				<span>Рассчитать стоимость</span>
				покраски и ремонта авто
				<form id="callbacks" name="callbacks" action="/sender.php">
			<input type="hidden" name="referer" value="http://pitline59.ru/">
			<label class="name top required"><input type="text" name="name" class="input_name" placeholder="ваше имя" /></label>
			<label class="phone top required"><input type="text" name="phone" class="input_phone" placeholder="ваш телефон" /></label>
			<input class="bttn button" type="button" name="callback" value="Оставить заявку" />
		</form>
			</div>
		</div>
	</section>
	<section class="offer">
		<h2>До сих пор не решились отдать свое авто в сервис?</h2>
		<div class="wrap scroll-animate">
			<a name="product"></a>
			<div class="offer_one os1 scale">
				<span><br />РЕМОНТ ХОДОВОЙ ЧАСТИ</span>
				<div class="offer_text">
					<em>от 2 800 руб.</em>
					(локальная покраска)
				</div>
				<a id="go" onClick="popup('makeorder', 'ПОКРАСКА');" rel="leanModal" name="makeorder" href="#makeorder">Заказать покраску</a>
			</div>
			<div class="offer_one os2 scale">
				<span><br />РЕМОНТ ДВИГАТЕЛЯ</span>
				<div class="offer_text">
					<em> от 800 руб.</em>
					(полировка одной детали)
				</div>
				<a id="go" onClick="popup('makeorder', 'ПОЛИРОВКА');" rel="leanModal" name="makeorder" href="#makeorder">Заказать полировку</a>
			</div>
			<div class="offer_one os3 scale">
				<span><br />КОМПЬЮТЕРНАЯ ДИАГНОСТИКА</span>
				<div class="offer_text">
					<em>от 800 руб.</em>
					(точечный ремон интерьера)
                 				</div>
				<a id="go" onClick="popup('makeorder', 'Покраска жидкой резиной');" rel="leanModal" name="makeorder" href="#makeorder">Заказать ремонт салона</a>
			</div>
			<div class="clear"></div>
			<a name="product2"></a>
			<div class="offer_one os4 scale">
				<span><br />РЕМОНТ ЭЛЕКТРОНИКИ И ЭЛЕКТРОТЕХНИКИ</span>
				<div class="offer_text">
					<em>от 3 200 руб.</em>
				</div>
				<a id="go" onClick="popup('makeorder', 'РЕМОНТ БАМПЕРОВ');" rel="leanModal" name="makeorder" href="#makeorder">Заказать ремонт бампера</a>
			</div>
			<div class="offer_one os5 scale">
				<span><br />РРЕМОНТ АКПП МКПП</span>
				<div class="offer_text">
					<em>от 4 000 руб.</em>
				</div>
				<a id="go" onClick="popup('makeorder', 'РЕМОНТ КУЗОВОВ');" rel="leanModal" name="makeorder" href="#makeorder">Заказать ремонт кузова</a>
			</div>
			<div class="offer_one os6 scale">
			<span>РАЗВАЛ СХОЖДЕНИЕ</span>
							<div class="offer_text">
					<em>БЕСПЛАТНО!</em>
				</div>
				<a id="go" onClick="popup('makeorder', 'Подбор автозапчастей');" rel="leanModal" name="makeorder" href="#makeorder">Заказать ремонт авто</a>
			</div>
			<div class="clear"></div>
			<a id="go" rel="leanModal" onClick="popup('makeorder', 'прайс-лист');" name="makeorder" href="#makeorder" class="offer_a">Получить прайс-лист всех услуг</a>
		</div>
	</section>
	<a name="what"></a>
	<section class="why">
		<h2>Почему 2 000 клиентов выбрали нас?</h2>
		<div class="wrap scroll-animate">
			<div class="why_one w1 scale">
				<span>Работа<br />без отсрочек</span>
				Мы гарантируем<br />соблюдение сроков<br />по ремонту автомобиля.<br />У нас, Вы сможете <b><br />забрать авто точно в срок</b>
			</div>
			<div class="why_one w2 scale">
				<span>Локальный ремонт<br />без видимых границ</span>
				<b>Устранение повреждений<br />без замены детали.</b><br />Проводим работы так,<br />что невозможно отличить<br />где был дефект,<br />а где нет
			</div>
			<div class="why_one w3 scale">
				<span>Работа<br />без выходных</span>
				Мы работаем<br /><b>без перерывов и  выходных</b> <br /> 7 дней в неделю,<br /> и готовы в любой момент провести<br />ремонт вашего авто<br /><br />
			</div>
			<div class="why_one w4 scale">
				<span>100% попадание<br />в цвет</span>
				Квалификация наших<br />специалистов по подбору<br />краски <b>гарантирует<br />идеальное соответствие<br />покрытия</b> с базовым<br />цветом
			</div>
			<div class="clear"></div>
			<div class="why_one w5 scale">
				<span>Быстрее<br />диллерских станций</span>
				В случае, если вашему авто<br />требуется <b>быстрый и качественный ремонт,</b><br />мы делаем это быстрее диллеров<br /><br />
			</div>
			<div class="why_one w6 scale">
				<span>Бесплатная<br />оценка повреждений</span>
				Нашим клиентам мы<br />предоставляем<br /><b>бесплатную оценку<br />повреждений авто</b> для расчета стоимости<br /> ремонта<br />
			</div>
			<div class="why_one w7 scale">
				<span>Индивидуальный<br />подход</span>
				К каждому клиенту<br />мы подходим индивидульно<br />В наших интересах выполнить<br />ремонтные работы так,<b> чтобы клиент остался доволен<br /></b> <br />
			</div>
			<div class="clear"></div>
		</div>
	</section>
	<section class="price">
		<h2>стоимость работ</h2>
		<div class="wrap">
			<div class="price_a pa1 hood_btn noselect">Капот</div>
			<div class="price_a pa2 roof_btn noselect">Крыша</div>
			<div class="price_a pa3 wing1_btn noselect">Крыло</div>
			<div class="price_a pa4 door_btn noselect">Двери</div>
			<div class="price_a pa5 wing2_btn noselect">Крыло</div>
			<div class="price_a pa6 lights_btn noselect">Фара</div>
			<div class="price_a pa7 bumper2_btn noselect">Бампер</div>
			<div class="pr1">
				<div class="price_descr hood_desc">
					<!-- <div class="" -->
					Покраска капота от <b>10000р</b><br />
					Ремонт капота от <b>4000р</b><br />
					<a id="go" onClick="popup('makeorder', 'капот');" rel="leanModal" name="makeorder" href="#makeorder">оставить заявку</a>
					<div class="pd"></div>
				</div>
			</div>
			<div class="pr2">
				<div class="price_descr roof_desc">
					Покраска крыши от <b>12000р</b><br />
					Ремонт крыши от <b>4000р</b><br />
					<a id="go" onClick="popup('makeorder', 'крыша');" rel="leanModal" name="makeorder" href="#makeorder">оставить заявку</a>
					<div class="pd"></div>
				</div>
			</div>
			<div class="pr3">
				<div class="price_descr wing1_desc">
					Покраска переднего крыла от <b>6000р</b><br />
					Ремонт переднего крыла от <b>1000р</b><br />
					<a id="go" onClick="popup('makeorder', 'переднее крыло');" rel="leanModal" name="makeorder" href="#makeorder">оставить заявку</a>
					<div class="pd"></div>
				</div>
			</div>
			<div class="pr4">
				<div class="price_descr door_desc">
					Покраска двери от <b>7000р</b><br />
					Ремонт двери от <b>2000р</b><br />
										<a id="go" onClick="popup('makeorder', 'дверь');" rel="leanModal" name="makeorder" href="#makeorder">оставить заявку</a>
					<div class="pd"></div>
				</div>
			</div>
			<div class="pr5">
				<div class="price_descr wing2_desc">
					Покраска заднего крыла от <b>7500р</b><br />
					Ремонт заднего крыла от <b>2000р</b><br />
										<a id="go" onClick="popup('makeorder', 'заднее крыло');" rel="leanModal" name="makeorder" href="#makeorder">оставить заявку</a>
					<div class="pd"></div>
				</div>
			</div>
			<div class="pr6">
				<div class="price_descr lights_desc">
					Полировка фар от <b>1000р</b><br />
					<a id="go" onClick="popup('makeorder', 'фара');" rel="leanModal" name="makeorder" href="#makeorder">оставить заявку</a>
					<div class="pd"></div>
				</div>
			</div>
			<div class="pr7">
				<div class="price_descr bumper1_desc">
					Покраска бампера от <b>6500р</b><br />
					Ремонт бампера от <b>500р</b><br />
					<a id="go" onClick="popup('makeorder', 'передний бампер');" rel="leanModal" name="makeorder" href="#makeorder">оставить заявку</a>
					<div class="pd"></div>
				</div>
			</div>
			<div class="pr8">
				<div class="price_descr bumper2_desc">
					Покраска бампера от <b>6500р</b><br />
					Ремонт бампера от <b>300р</b><br />
					<a id="go" onClick="popup('makeorder', 'задний бампер');" rel="leanModal" name="makeorder" href="#makeorder">оставить заявку</a>
					<div class="pd"></div>
				</div>
			</div>
			<!--<img src="images/price.jpg" class="map" width="714" height="482" usemap="#navigation">-->
            <img src="{% static 'app/images/price.jpg'%}" class="map" width="714" height="482" usemap="#navigation">
			<map id="navigation" name="navigation">
				<area shape="poly" id="hood" coords="188,28,175,28,161,31,133,36,110,42,93,50,76,61,55,76,43,86,31,97,23,108,20,114,19,119,19,127,19,135,22,142,23,142,27,141,34,142,41,143,51,144,63,147,73,150,82,153,92,157,105,162,111,163,115,164,124,164,133,162,141,159,147,157,149,156,148,152,147,149,147,144,148,138,151,131,155,123,161,115,169,107,179,96,189,88,200,80,212,71,227,63,236,58,246,55,255,52,260,50,265,49,271,49,274,49,270,47,261,44,247,40,227,35,207,31"> <!--21,135,17,123,22,105,39,89,62,70,84,54,107,43,131,36,162,30,182,27,202,30,225,34,249,39,270,47,237,56,211,71,186,89,166,108,153,123,147,138,147,155,126,162,111,161,72,146,39,140,24,141-->
				<area shape="poly" id="lights" coords="18,123,14,131,11,139,11,147,12,153,15,157,18,151,23,148,23,146,20,140,19,136,19,136">
				<area shape="poly" id="bumper1" coords="30,208,30,204,29,200,28,195,28,189,29,184,33,178,40,172,42,171,31,159,27,153,23,146,18,152,15,157,13,153,11,148,9,143,7,149,7,156,7,162,8,167,9,169,13,172,14,174,14,182,14,194,21,201,26,206">
				<area shape="poly" id="wing1" coords="138,197,139,187,141,181,144,176,150,171,158,165,153,161,149,156,142,159,130,162,122,163,116,164,109,163,93,157,74,150,59,146,43,142,30,141,21,142,25,150,29,156,34,162,43,172,50,171,57,172,68,175,74,178,83,183,91,190,100,199,108,210,113,217,117,226,121,235,125,245,134,248,147,253,142,246,140,237,138,214">
				<area shape="poly" id="roof" coords="548,121,524,109,491,93,466,82,442,72,422,65,397,57,380,53,358,48,345,45,332,50,321,56,309,64,298,71,289,78,279,87,273,94,264,104,259,111,252,121,246,133,256,133,274,134,289,136,308,139,323,144,341,150,361,157,380,166,407,179,426,189,442,197,457,206,465,211,473,204,483,196,494,186,505,175,515,165,524,157,532,147,540,135,544,127">
				<area shape="poly" id="door" coords="138,203,138,215,139,225,140,233,141,241,141,245,145,251,148,254,180,266,210,278,248,293,293,309,320,319,345,327,362,333,370,334,380,331,385,328,397,315,403,308,413,297,418,292,424,283,427,276,427,265,427,258,396,248,358,236,319,223,269,206,229,192,207,185,188,179,175,174,165,170,159,166,158,166,152,169,147,173,143,177,140,183,139,190,138,195">
				<area shape="poly" id="wing2" coords="470,216,504,239,521,252,541,266,552,273,564,279,568,286,576,297,580,301,596,309,616,318,615,320,603,326,583,335,572,349,561,363,552,374,547,377,543,378,536,378,516,375,505,373,497,358,486,345,478,336,466,327,456,322,446,319,437,317,426,316,417,317,411,319,407,321,402,325,400,329,398,334,397,339,398,343,399,347,400,353,397,352,387,348,376,344,376,341,378,337,381,332,386,327,392,321,400,312,408,303,416,295,421,288,424,282,426,277,427,270,427,258,432,259,442,262,453,262,463,261,476,259,487,256,490,253,489,249,477,240,453,222,445,216,447,213,452,208,455,205">
				<area shape="poly" id="bumper2" coords="534,377,523,376,513,374,508,374,505,375,507,380,510,388,511,391,512,396,520,398,530,399,541,401,558,403,571,404,583,404,587,403,591,403,599,402,608,401,613,397,626,388,637,379,649,368,656,359,667,346,675,336,682,325,689,314,694,305,697,297,700,288,701,282,703,274,704,264,703,256,702,250,700,246,699,244,697,241,696,246,693,246,692,247,688,252,684,259,681,263,682,267,686,275,682,284,677,293,671,302,663,311,656,319,647,328,640,335,632,341,632,341,627,337,626,338,619,341,607,346,600,348,592,351,584,352,575,353,570,353,565,359,559,366,554,371,550,375,547,377,543,378">
			</map>
		</div>
	</section>
	<a name="promo2"></a>
	<section class="order">
		<div class="wrap">
			<div class="order_img"></div>
			<div class="timer_block">
				<span>Оставьте заявку</span>
        и получите<br><b>скидку 1 000 руб.</b><br>на любые виды услуг
        <!--
				и получите<br><b>скидку на 1 000 руб.</b><br>на любые виды услуг
        -->
				<div class="timer">
					<div class="pt-contain">
						<div class="days">
							<span class="flip day1Play">0</span>
							<span class="flip dayPlay">0</span>
							<em>&nbsp;дней</em>
						</div>
						<div class="hours">
							<span class="flip hour2Play"></span>
							<span class="flip hourPlay"></span>
							<em>&nbsp;часов</em>
						</div>
						<div class="minutes">
							<span class="flip minute6Play"></span>
							<span class="flip minutePlay"></span>
							<em>&nbsp;минут</em>
						</div>
						<div class="seconds">
							<span class="flip second6Play"></span>
							<span class="flip secondPlay"></span>
							<em>&nbsp;секунд</em>
						</div>
					</div>
				</div>
			</div>
			<div class="order_block">
        <!--
				<span>Оставьте заявку</span>
				и получите <b>бесплатную полировку</b><br />фар вашего автомобиля!
        -->
				<form id="callbacks" name="callbacks" action="/sender.php">
					<input type="hidden" class="formname" name="formname" value="">
					<input type="hidden" name="referer" value="../index.html">
					<label class="name left required"><input type="text" name="name" class="input_name" placeholder="имя" /></label>
					<label class="phone left required"><input type="text" name="phone" class="input_phone" placeholder="телефон" /></label>
					<label class="email left"><input type="text" name="email" class="input_email" placeholder="e-mail" /></label>
					<input type="button" class="bttn button" name="request" value="Отправить заявку" />
				</form>
			</div>
		</div>
	</section>
	<a name="kak"></a>
	<section class="hww">
		<h2>Как мы работаем</h2>
		<div class="wrap scroll-animate">
			<div class="hww_one hb h1 scale">
				<div class="hww_text">
					<span>ЗАЯВКА</span>
					Вы оставляете заявку <br />на обратный звонок <br />или звоните самостоятельно
					<a id="go" onClick="popup('makeorder', 'как мы работаем');" rel="leanModal" name="makeorder" href="#makeorder">Оставить заявку</a>
				</div>
			</div>
			<div class="hww_one ht h2 scale">
				<span>КОНСУЛЬТАЦИЯ</span>
				Вы получаете от нашего мастера<br />индивидуальное предложение, уточняете<br />сумму и сроки выполнения работ
			</div>
			<div class="hww_one hb h3 scale">
				<span>ОБРАЩЕНИЕ В PIT LINE</span>
				Вы приезжаете к нам в сервис, наш<br />специалист проводит осмотр автомобиля <br />и согласовывает стоимость работы
			</div>
			<div class="hww_one ht h4 scale">
				<span>РЕМОНТНЫЕ РАБОТЫ</span>
				Мы проводим весь цикл<br />покрасочных и ремонтных<br />работ
			</div>
			<div class="hww_one hb h5 scale">
				<span>АВТОМОБИЛЬ ГОТОВ!</span>
				Работы завершены!<br />Можете ехать!
			</div>
		</div>
	</section>
	<a name="reviews1"></a>
	<section class="reviews">
		<h2>Отзывы наших клиентов</h2>
		<div class="wrap scroll-animate">
			<a name="reviews2"></a>
			<div class="review r1 fade">
				<div class="review_img"></div>
				<span>«Второй раз, и снова на высоте»</span>
				<p>Приезжаю в эту компанию второй раз и снова очень доволен скоростью обслуживания и качеством работ.</p>
				<p>Была вмятина на крыле и содрана краска на бампере. Автомобиль BMW X3.<br /><b> Оставил авто рано утром, а вечером уже ехал домой на отремонтированом коне.</b> В обычных малярках, мне говорили 3-4 дня, а тут и скорость и качество на высоте.<br /></p>
				<p>Спасибо!</p>
				<div class="review_name">
					<div class="rn"></div>
					<div class="rnn"></div>
					<em>Александр, 44 года, BMW X3 </em>
				</div>
			</div>
			<a name="reviews3"></a>
			<div class="review r2 fade">
				<div class="review_img"></div>
				<span>«Пускай цена выше, зато не подкапаешься»</span>
				<p>На майские праздники решил обновить авто и отдал его на покраску сколов и вмятин.</p> 
				<p><b>Сделали все ровно. Друзья пытались подкопаться, но не нашли ни одного изьяна.</b> Что касается цены, да, выше чем во многих сервисах, но зато можно быть уверенным в качестве. Есть знакомые перекупы, советую этот сервис им, они "перепродают" авто люксовые, эти ребята знают как с ними обращаться.</p>
				<div class="review_name">
					<div class="rn"></div>
					<div class="rnn"></div>
					<em>Дмитрий, 32 года, Hyundai Sonata</em>
				</div>
			</div>
			<a name="reviews4"></a>
			<div class="review r3 fade">
				<div class="review_img"></div>
				<span>«Круто, не знаю где в Перми еще так делают»</span>
				<p>Точечный ремонт - это круто. Не хотелось менять детали, а после такси, мой Рено износился достаточно.<b> Звонил во многие сервисы, везде предлагают деталь заменить, а тут и гадалкой быть не надо, накрутят и втридорога впарят.</b> Позвонил сюда, парни сказали, что смогут сделать без замены.</p>
				<p>Не обманули, пускай цена не маленькая, зато качество на уровне.</p>
				<div class="review_name">
					<div class="rn"></div>
					<div class="rnn"></div>
					<em>Виталий, 25 лет, Renault Symbol</em>
				</div>
			</div>
			<a name="reviews5"></a>
			<div class="review r4 fade">
				<div class="review_img"></div>
				<span>«Не только отремонтировали авто<br />но и порадовали бесплатной полировкой фар»</span>
				<p> Машинку купила подержанную, чтобы научиться водить. Брала тоже из под девушки, поэтому ее внешний вид был потрепан, бампера, двери. К тому же она курила, и в салоне были "прокурыши". Вкруг машину красить не хотелось, ребята предложили локальный ремонт - вышло просто изумительно.</p>
				<p><b> К тому же, мне еще и бесплатно отполировали фары, теперь езжу, свет яркий. Буду рекомендовать друзьям!</b></p>
				<div class="review_name">
					<div class="rn"></div>
					<div class="rnn"></div>
					<em>Анна, 35 лет, Nissan Micra</em>
				</div>
			</div>
		</div>
	</section>
	<a name="promo3"></a>
	<section class="order_photo">
		<div class="wrap">
			<div class="order_img2"></div>
			<div class="order_block2">
				<span>Рассчитать стоимость</span>
				восстановления авто после ДТП
				<form id="callbacks" name="callbacks" action="/sender.php">
			<input type="hidden" name="referer" value="http://pitline59.ru/">
			<label class="name top required"><input type="text" name="name" class="input_name" placeholder="ваше имя" /></label>
			<label class="phone top required"><input type="text" name="phone" class="input_phone" placeholder="ваш телефон" /></label>
			<input class="bttn button" type="button" name="callback" value="Оставить заявку" />
		</form>
			</div>
		</div>
	</section>
	<a name="proect1"></a>
	<section class="projects">
		<h2>ВЫПОЛНЕННЫЕ ПРОЕКТЫ</h2>
		<div class="wrap">
			<div class="project p1">
				<div class="project_name">
					Ремонт и покраска двух деталей
				</div>
				<div class="project_img"></div>
				<div class="project_text">
					<span>Проблемы у автомобиля до ремонта:</span>
					<div class="pt_col">
						- Поврежден бампер
					</div>
					<div class="pt_col">
						- Повреждено крыло
					</div>
					<div class="pt_col">
						- Сломан поворотник
					</div>
					<div class="clear"></div>
				</div>
				<div class="project_det">
					<div class="project_date">Срок выполнения: <em>1 день</em></div>
					<div class="project_price">Цена: <em>10 000 р.</em></div>
					<div class="clear"></div>
				</div>
			</div>
			<a name="proect2"></a>
			<div class="project p2">
				<div class="project_name">
				Ремонт и точечная покраска 
				</div>
				<div class="project_img"></div>
				<div class="project_text">
					<span>Проблемы у автомобиля до ремонта:</span>
					<div class="pt_col ptc">
						- Повреждено крыло<br />
											</div>
					<div class="pt_col">
						- Локально повреждена краска<br />
											</div>
					<div class="clear"></div>
				</div>
				<div class="project_det">
					<div class="project_date">Срок выполнения: <em>5 часов</em></div>
					<div class="project_price">Цена: <em>7 000 р.</em></div>
					<div class="clear"></div>
				</div>
			</div>
			<a name="proect3"></a>
			<div class="project p3">
				<div class="project_name">
					Ремонт бампера и крыла <br />вместе с покраской и полировкой
				</div>
				<div class="project_img"></div>
				<div class="project_text">
					<span>Проблемы у автомобиля до ремонта:</span>
					<div class="pt_col">
						- Повреждено переднее крыло <br />
											</div>
					<div class="pt_col">
						- Поврежден бампер<br />
											</div>
					<div class="clear"></div>
					Клиенту был необходим быстрый ремонт по адекватной цене.
				</div>
				<div class="project_det">
					<div class="project_date">Срок выполнения: <em>7 часов</em></div>
					<div class="project_price">Цена: <em>12 000 р.</em></div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</section>
	<a name="24"></a>
	<section class="contacts">
		<div class="wrap">
			<h2>работаем<br /><em>для вас</em></h2>
			
			<div class="contacts_text">
				<span>
					консультации по вопросам <br />покраски и ремонта
				</span>
				<span>
					бесплатная оценка <br />повреждений
				</span>
				<div class="contacts_phone">
					+7(952) 333 66 91
					<a id="go" rel="leanModal" name="callback" href="#callback" class="mc">заказать звонок</a>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</section>
	<a name="promo4"></a>
	<section class="order">
		<div class="wrap">
			<div class="order_img"></div>
			<div class="timer_block">
				<span>Оставьте заявку</span>
				и получите<br><b>скидку 1 000 руб.</b><br>на любые виды услуг
				<div class="timer">
					<div class="pt-contain">
						<div class="days">
							<span class="flip day1Play">0</span>
							<span class="flip dayPlay">0</span>
							<em>&nbsp;дней</em>
						</div>
						<div class="hours">
							<span class="flip hour2Play"></span>
							<span class="flip hourPlay"></span>
							<em>&nbsp;часов</em>
						</div>
						<div class="minutes">
							<span class="flip minute6Play"></span>
							<span class="flip minutePlay"></span>
							<em>&nbsp;минут</em>
						</div>
						<div class="seconds">
							<span class="flip second6Play"></span>
							<span class="flip secondPlay"></span>
							<em>&nbsp;секунд</em>
						</div>
					</div>
				</div>
			</div>
			<div class="order_block">
        <!--
				<span>Оставьте заявку</span>
				и получите <b>бесплатную полировку</b><br />фар вашего автомобиля!
        -->
				<form id="callbacks" name="callbacks" action="/sender.php">
					<input type="hidden" class="formname" name="name" value="">
					<input type="hidden" name="referer" value="../index.html">
					<label class="name left required"><input type="text" name="name" class="input_name" placeholder="имя" /></label>
					<label class="phone left required"><input type="text" name="phone" class="input_phone" placeholder="телефон" /></label>
					<label class="email left"><input type="text" name="email" class="input_email" placeholder="e-mail" /></label>
					<input type="button" class="bttn button" name="request" value="Отправить заявку" />
				</form>
			</div>
		</div>
	</section>
	<section class="maps">
		<div class="wrap">
			<div class="map_block">
			<b>---------------------Пермь---------------------</b><br />
				<b>Адрес:</b> ул. Шоссе Космонавтов 310Г<br />
				<b>Телефон:</b> +7(342) 288-11-91<br />
				<b>Время работы:</b> c 9:00 до 20:00<br />
				<b>-------------------Березники------------------</b><br />
				<b>Адрес:</b> г. Березники ул. Металлистов д.1<br />
				<b>Телефон:</b> +7(902) 800-90-66<br />
				<b>Время работы:</b> c 9:00 до 20:00<br />
				<div class="mb"></div>
			</div>
				</div>
	</section>
		<section class="any_q">
		<div class="wrap">
			<h2>ОСТАЛИСЬ <em>ВОПРОСЫ?</em></h2>
			<a id="go" rel="leanModal" name="question" href="#question">задайте их менеджеру</a>
			<div class="clear"></div>
		</div>
	</section>
	<footer>
		<div class="wrap">
			<div class="f_phone">
				 +7(952) 333 66 91
				<a id="go" rel="leanModal" name="callback" href="#callback" class="mc">заказать звонок</a>
			</div>
			<div>
            <div>
            	<a href="conf.pdf" target="_blank" class="conf" style="margin-top: 38px;">Политика конфиденциальности</a>
             	</div>
          </div>
          <div>
                      </div>
			<a href="http://vk.com/perm.pitline" target="_blank" class="copyright"><b>Pit Line:</b></a>
			<div class="clear"></div>
		</div>
	</footer>
</div>
<script type="text/javascript">
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
(w[c] = w[c] || []).push(function() {
try {
w.yaCounter29772848 = new Ya.Metrika({id:29772848,
webvisor:true,
clickmap:true,
trackLinks:true,
accurateTrackBounce:true});
} catch(e) { }
});

var n = d.getElementsByTagName("script")[0],
s = d.createElement("script"),
f = function () { n.parentNode.insertBefore(s, n); };
s.type = "text/javascript";
s.async = true;
s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

if (w.opera == "[object Opera]") {
d.addEventListener("DOMContentLoaded", f, false);
} else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/29772848" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!— Google Tag Manager —>
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NCT6K7"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NCT6K7');</script>
<!— End Google Tag Manager —>
<script type="text/javascript" src="//cdn.callbackhunter.com/cbh.js?hunter_code=1fe375998513ecac24315921c2007898" charset="UTF-8"></script>
</div>


{% endblock %}
