{% extends "base.html" %}
{% load staticfiles %}

 {% block navbar-small %}
    <li><a href="#offer">Наши услуги</a></li>
    <li><a href="#price">стоимость работ</a></li>
    <li><a href="#work">Как мы работаем</a></li>
    <li><a href="#reviews">Отзывы</a></li>
    <li><a href="#project">Проекты</a></li>
    <li><a href=""></a></li>
 {%endblock%}

{% block content %}
<div class = "body-locksmith">
<input type="hidden" name="first_thumb" class="first_thumb" value="true">
<input type="hidden" name="page" value="/a/">
<input type="hidden" name="ref_url" value="">
<div id="callback" class="modal callback">
	<div class="modal-box">
		<div class="modal-title">
			Заказать звонок
			<span>заполните форму и мы вам обязательно перезвоним!</span>
		</div>
		<form id="callbacks" name="callbacks" action="/sender.php">
			<input type="hidden" name="referer" value="http://pitline59.ru/">
			<label class="name top required"><input type="text" name="name" class="input_name" placeholder="ваше имя" /></label>
			<label class="phone top required"><input type="text" name="phone" class="input_phone" placeholder="ваш телефон" /></label>
			<input class="bttn button" type="button" name="callback" value="Оставить заявку" />
		</form>
	</div>
</div>
<div id="photo" class="modal photo">
	<div class="modal-box">
		<div class="modal-title">
			Рассчитать стоимость
			<span>заполните форму и мы вам обязательно перезвоним!</span>
		</div>
		<form id="callbacks" name="callbacks" action="/sender.php">
			<input type="hidden" class="formname" name="name" value="">
			<input type="hidden" name="referer" value="http://pitline59.ru/">
			<label class="name left required"><input type="text" name="name" class="input_name" placeholder="ваше имя" /></label>
			<label class="phone left required"><input type="text" name="phone" class="input_phone" placeholder="ваш телефон" /></label>
			<label class="email left"><input type="text" name="send" class="input_email" placeholder="ваш e-mail" /></label>
			<input class="bttn button" type="button" name="request" value="Оставить заявку" />
		</form>
	</div>
</div>
<div id="makeorder" class="modal makeorder">
	<div class="modal-box">
		<div class="modal-title">
			Оставить заявку
			<span>заполните форму и мы обязательно свяжемся с вами!</span>
		</div>
		<form id="callbacks" name="callbacks" action="/sender.php">
			<input type="hidden" class="formname" name="name" value="">
			<input type="hidden" name="referer" value="http://pitline59.ru/">
			<label class="name left required"><input type="text" name="name" class="input_name" placeholder="ваше имя" /></label>
			<label class="phone left required"><input type="text" name="phone" class="input_phone" placeholder="ваш телефон" /></label>
			<label class="email left"><input type="text" name="send" class="input_email" placeholder="ваш e-mail" /></label>
			<input class="bttn button" type="button" name="request" value="Оставить заявку" />
		</form>
	</div>
</div>
<div id="question" class="modal question">
	<div class="modal-box">
		<div class="modal-title">
			Задать вопрос
			<span>заполните форму и мы обязательно свяжемся с вами!</span>
		</div>
		<form id="callbacks" name="callbacks" action="/sender.php">
			<input type="hidden" name="referer" value="http://pitline59.ru/">
			<div class="form_left">
				<label class="name right required"><input type="text" name="name" class="input_name" placeholder="ваше имя" /></label>
				<label class="email right"><input type="text" name="send" class="input_email" placeholder="ваш e-mail" /></label>
				<label class="phone right required"><input type="text" name="phone" class="input_phone" placeholder="ваш телефон" /></label>
			</div>
			<div class="form_right">
				<textarea placeholder="ваш вопрос"></textarea>
			</div>
			<div class="clear"></div>
			<input class="bttn button" type="button" name="question" value="Задать вопрос" />
		</form>
	</div>
</div>
<div class="">
	<section class="main mslesar">
		<div class="wrap">
			<h1 style="color:coral">
                Костя, что-то тут надо было поменять??? Какой текст оставить? какой убрать?
				Автосервис слесарных работ для всех видов автомобилей <br />
				<span style="color:coral">У нас нет фиксированной цены за деталь, наше основное отличие - индивидуальный подход к клиенту<br><b>Ждем всех по адресу: ул. Шоссе Космонавтов 310Г</b></span>
			</h1>
		</div>
	</section>
	<a name="cifr"></a>
	<a name="sravnenie"></a>

	<a name="promo1"></a>
	<section class="offer" id="offer">
		<h2>Мы оказываем полный спектр услуг по ремонту </h2>
		<div class="scroll-animate">
            <a name="product"></a>
            <div class="service__row">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{%static 'app/images/sls/o1.png'%}">
                        </div>
                        <div class="col-md-8">
                            <h3>Ремонт ходовой части</h3>
                            Ходовая часть автомобиля регулярно испытывает большие нагрузки, и поэтому подвержена износу. Диагностика и ремонт подвески - залог Вашего комфорта и безопасности на дорогах. Если Вы заметили какие-либо признаки неисправностей ходовой части, Вам необходимо незамедлительно обратиться на станцию технического обслуживания. В виду низкого качества дорог, на которых эксплуатируются автомобили, мы рекомендуем проводить диагностику ходовой 1 раз в 3 месяца.
                            <div>
                                <a id="go" onClick="popup('makeorder', 'ПОКРАСКА');" rel="leanModal" name="makeorder" href="#makeorder"></a>
                                <button class="btn btn-default">заказать</button>
                             </div>
                        </div>
                    </div>
                 </div>
               </div>
            </div>

               <div class="service__row row-right">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <img class="service__image" src="{%static 'app/images/sls/o2.png'%}">
                            </div>
                            <div class="col-md-8">
                                <h3>Диагностика подвески</h3>
                                <div>
                                     комплекс операций по поддержанию работоспособности или исправности производственного оборудования при использовании по назначению, ожидании, хранении и транспортировке.
                                </div>
                                <div>
                                    <a id="go" onClick="popup('makeorder', 'ПОКРАСКА');" rel="leanModal" name="makeorder" href="#makeorder"></a>
                                    <button class="btn btn-default">заказать</button>
                                </div>
                             </div>
                            </div>
                        </div>
                </div>

                <div class="service__row">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <img class="service__image" src="{%static 'app/images/sls/o3.png'%}">
                            </div>
                            <div class="col-md-8">
                                <h3>Замена запчастей и агрегатов</h3>
                                проводить работы по замене узлов и запчастей любых транспортных средств. Наша компания специализируется в проведении ремонта автомобиля любого вида сложности. Причем, важно отметить, компания осуществляет не только замену определенных запчастей и узлов, но и осуществляет ремонт любой детали транспортного средства
                                <div>
                                    <a id="go" onClick="popup('makeorder', 'ПОКРАСКА');" rel="leanModal" name="makeorder" href="#makeorder"></a>
                                    <button class="btn btn-default">заказать</button>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>

                <div class="service__row row-right">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <img class="service__image" src="{%static 'app/images/sls/o4.png'%}">
                            </div>
                            <div class="col-md-8">
                                <h3>Техническое обслуживание</h3>
                                 комплекс операций по поддержанию работоспособности или исправности производственного оборудования при использовании по назначению, ожидании, хранении и транспортировке.
                                 <div>
                                    <a id="go" onClick="popup('makeorder', 'ПОКРАСКА');" rel="leanModal" name="makeorder" href="#makeorder"></a>
                                    <button class="btn btn-default">заказать</button>
                                </div>
                     
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="service__row">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <img class="service__image" src="{%static 'app/images/sls/o5.png'%}">
                            </div>
                            <div class="col-md-8">
                                <h3>Межсезонное обслуживание акб</h3>
                                Нарушения в работе АКБ могут привести к дорогостоящему ремонту электрооборудования авто. Чтобы не доводить до этого, следует систематически выполнять обслуживание аккумуляторной батареи. По сути, уход за аккумулятором сводится к сезонному обслуживанию АКБ осенью и систематической ее подзарядке зимой.
                                <div>
                                    <a id="go" onClick="popup('makeorder', 'ПОКРАСКА');" rel="leanModal" name="makeorder" href="#makeorder"></a>
                                    <button class="btn btn-default">заказать</button>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>

                <div class="service__row row-right">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <img class="service__image" src="{%static 'app/images/sls/o6.png'%}">
                            </div>
                            <div class="col-md-8">
                                <h3>Замена технических жидкостей</h3>
                                любых автомобилей: от замены масла в механической коробе передач, до полной замены масла с промывкой для автомобилей на «автомате».
                                <div>
                                    <a id="go" onClick="popup('makeorder', 'ПОКРАСКА');" rel="leanModal" name="makeorder" href="#makeorder"></a>
                                    <button class="btn btn-default">заказать</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
	</section>
	<a name="what"></a>
	<section class="price" id="price">
		<h2>стоимость работ</h2>
        Костя!!!!!!!!!!!!!!!!!!!!!!!!!!!! хотел придумать что здесь разместить
        <!--<div class="price__table">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th></th>
              <th colspan="3">РЕМОНТ ХОДОВОЙ ЧАСТИ</th>
              <th colspan="3">ДИАГНОСТИКА ПОДВЕСКИ</th>
              <th colspan="3">ЗАМЕНА ЗАПЧАСТЕЙ И АГРЕГАТОВ</th>
              <th colspan="3">ТЕХНИЧЕСКОЕ ОБСЛУЖИВАНИЕ</th>
              <th colspan="3">МЕЖСЕЗОННОЕ ОБСЛУЖИВАНИЕ АКБ</th>
              <th colspan="3">ЗАМЕНА ТЕХНИЧЕСКИХ ЖИДКОСТЕЙ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>легковой автомобиль класса А</td>
              <td class="success">1500</td>
              <td class="warning">2000</td>
              <td class="danger">2500</td>
              <td class="success">1500</td>
              <td class="warning">2000</td>
              <td class="danger">2500</td>
              <td class="success">1500</td>
              <td class="warning">2000</td>
              <td class="danger">2500</td>
              <td class="success">1500</td>
              <td class="warning">2000</td>
              <td class="danger">2500</td>
              <td class="success">1500</td>
              <td class="warning">2000</td>
              <td class="danger">2500</td>
              <td class="success">1500</td>
              <td class="warning">2000</td>
              <td class="danger">2500</td>
            </tr>
            <tr>
              <td>легковой автомобиль класса B</td>
              <td class="success">3000</td>
              <td class="warning">3500</td>
              <td class="danger">4000</td>
              <td class="success">3000</td>
              <td class="warning">3500</td>
              <td class="danger">4000</td>
              <td class="success">3000</td>
              <td class="warning">3500</td>
              <td class="danger">4000</td>
              <td class="success">3000</td>
              <td class="warning">3500</td>
              <td class="danger">4000</td>
              <td class="success">3000</td>
              <td class="warning">3500</td>
              <td class="danger">4000</td>
              <td class="success">3000</td>
              <td class="warning">3500</td>
              <td class="danger">4000</td>
            </tr>
        </tbody>
        </table>

        </div>-->
	</section>

	<a name="promo2"></a>
    <!--
	<section class="order">
		<div class="wrap">
			<div class="order_img"></div>
			<div class="timer_block">
				<span>Оставьте заявку</span>
        и получите<br><b>скидку 1 000 руб.</b><br>на любые виды услуг
        <!--
				и получите<br><b>скидку на 1 000 руб.</b><br>на любые виды услуг
        --><!--
				<div class="timer">
					<div class="pt-contain">
						<div class="days">
							<span class="flip day1Play">0</span>
							<span class="flip dayPlay">0</span>
							<em>&nbsp;дней</em>
						</div>
						<div class="hours">
							<span class="flip hour2Play"></span>
							<span class="flip hourPlay"></span>
							<em>&nbsp;часов</em>
						</div>
						<div class="minutes">
							<span class="flip minute6Play"></span>
							<span class="flip minutePlay"></span>
							<em>&nbsp;минут</em>
						</div>
						<div class="seconds">
							<span class="flip second6Play"></span>
							<span class="flip secondPlay"></span>
							<em>&nbsp;секунд</em>
						</div>
					</div>
				</div>
			</div>
			<div class="order_block">
        <!--
				<span>Оставьте заявку</span>
				и получите <b>бесплатную полировку</b><br />фар вашего автомобиля!
        --><!--
				<form id="callbacks" name="callbacks" action="/sender.php">
					<input type="hidden" class="formname" name="formname" value="">
					<input type="hidden" name="referer" value="../index.html">
					<label class="name left required"><input type="text" name="name" class="input_name" placeholder="имя" /></label>
					<label class="phone left required"><input type="text" name="phone" class="input_phone" placeholder="телефон" /></label>
					<label class="email left"><input type="text" name="email" class="input_email" placeholder="e-mail" /></label>
					<input type="button" class="bttn button" name="request" value="Отправить заявку" />
				</form>
			</div>
		</div>
	</section>
    -->
	<a name="kak" id="work"></a>
	<section class="hww" style="margin-top:100px">
		<h2>Как мы работаем</h2>
		<div class="wrap scroll-animate">
			<div class="hww_one hb h1 scale">
				<div class="hww_text">
					<span>ЗАЯВКА</span>
					Вы оставляете заявку <br />на обратный звонок <br />или звоните самостоятельно
					<a id="go" onClick="        popup('makeorder', 'как мы работаем');" rel="leanModal" name="makeorder" href="#makeorder">Оставить заявку</a>
				</div>
			</div>
			<div class="hww_one ht h2 scale">
				<span>КОНСУЛЬТАЦИЯ</span>
				Вы получаете от нашего мастера<br />индивидуальное предложение, уточняете<br />сумму и сроки выполнения работ
			</div>
			<div class="hww_one hb h3 scale">
				<span>ОБРАЩЕНИЕ В PIT LINE</span>
				Вы приезжаете к нам в сервис, наш<br />специалист проводит осмотр автомобиля <br />и согласовывает стоимость работы
			</div>
			<div class="hww_one ht h4 scale">
				<span>РЕМОНТНЫЕ РАБОТЫ</span>
				Костя!!! нужен текст от тебя!!!<br />Мы проводим весь цикл<br />покрасочных и ремонтных<br />работ
			</div>
			<div class="hww_one hb h5 scale">
				<span>АВТОМОБИЛЬ ГОТОВ!</span>
				Работы завершены!<br />Можете ехать!
			</div>
		</div>
	</section>
	<a name="reviews1" id="reviews"></a>
	<section class="reviews">
		<h2>Отзывы наших клиентов</h2>
		<div class="wrap scroll-animate">
			<a name="reviews2"></a>
			<div class="review r1 fade">
				<div class="review_img"></div>
				<span>«Второй раз, и снова на высоте»</span>
				<p>Приезжаю в эту компанию второй раз и снова очень доволен скоростью обслуживания и качеством работ.</p>
				<p>Была вмятина на крыле и содрана краска на бампере. Автомобиль BMW X3.<br /><b> Оставил авто рано утром, а вечером уже ехал домой на отремонтированом коне.</b> В обычных малярках, мне говорили 3-4 дня, а тут и скорость и качество на высоте.<br /></p>
				<p>Спасибо!</p>
				<div class="review_name">
					<div class="rn"></div>
					<div class="rnn"></div>
					<em>Александр, 44 года, BMW X3 </em>
				</div>
			</div>
			<a name="reviews3"></a>
			<div class="review r2 fade">
				<div class="review_img"></div>
				<span>«Пускай цена выше, зато не подкапаешься»</span>
				<p>На майские праздники решил обновить авто и отдал его на покраску сколов и вмятин.</p> 
				<p><b>Сделали все ровно. Друзья пытались подкопаться, но не нашли ни одного изьяна.</b> Что касается цены, да, выше чем во многих сервисах, но зато можно быть уверенным в качестве. Есть знакомые перекупы, советую этот сервис им, они "перепродают" авто люксовые, эти ребята знают как с ними обращаться.</p>
				<div class="review_name">
					<div class="rn"></div>
					<div class="rnn"></div>
					<em>Дмитрий, 32 года, Hyundai Sonata</em>
				</div>
			</div>
			<a name="reviews4"></a>
			<div class="review r3 fade">
				<div class="review_img"></div>
				<span>«Круто, не знаю где в Перми еще так делают»</span>
				<p>Точечный ремонт - это круто. Не хотелось менять детали, а после такси, мой Рено износился достаточно.<b> Звонил во многие сервисы, везде предлагают деталь заменить, а тут и гадалкой быть не надо, накрутят и втридорога впарят.</b> Позвонил сюда, парни сказали, что смогут сделать без замены.</p>
				<p>Не обманули, пускай цена не маленькая, зато качество на уровне.</p>
				<div class="review_name">
					<div class="rn"></div>
					<div class="rnn"></div>
					<em>Виталий, 25 лет, Renault Symbol</em>
				</div>
			</div>
			<a name="reviews5"></a>
			<div class="review r4 fade">
				<div class="review_img"></div>
				<span>«Не только отремонтировали авто<br />но и порадовали бесплатной полировкой фар»</span>
				<p> Машинку купила подержанную, чтобы научиться водить. Брала тоже из под девушки, поэтому ее внешний вид был потрепан, бампера, двери. К тому же она курила, и в салоне были "прокурыши". Вкруг машину красить не хотелось, ребята предложили локальный ремонт - вышло просто изумительно.</p>
				<p><b> К тому же, мне еще и бесплатно отполировали фары, теперь езжу, свет яркий. Буду рекомендовать друзьям!</b></p>
				<div class="review_name">
					<div class="rn"></div>
					<div class="rnn"></div>
					<em>Анна, 35 лет, Nissan Micra</em>
				</div>
			</div>
		</div>
	</section>
	<a name="promo3"></a>

	<a name="proect1" id="project"></a>
	
	<a name="24"></a>
	<a name="promo4"></a>
	<section class="maps">
		<div class="wrap">
			<div class="map_block">
			<b>---------------------Пермь---------------------</b><br />
				<b>Адрес:</b> ул. Шоссе Космонавтов 310Г<br />
				<b>Телефон:</b> +7(342) 288-11-91<br />
				<b>Время работы:</b> c 9:00 до 20:00<br />
				<div class="mb"></div>
			</div>
				</div>
	</section>
		<section class="any_q">
		<div class="wrap">
			<h2>ОСТАЛИСЬ <em>ВОПРОСЫ?</em></h2>
			<a id="go" rel="leanModal" name="question" href="#question">задайте их менеджеру</a>
			<div class="clear"></div>
		</div>
	</section>
	<footer>
		<div class="wrap">
			<div class="f_phone">
				 +7(342) 288 11 91
				<a id="go" rel="leanModal" name="callback" href="#callback" class="mc">заказать звонок</a>
			</div>
			<div>
            <div>
            	<a href="conf.pdf" target="_blank" class="conf" style="margin-top: 38px;">Политика конфиденциальности</a>
             	</div>
          </div>
          <div>
                      </div>
			<a href="http://vk.com/perm.pitline" target="_blank" class="copyright"><b>Pit Line:</b></a>
			<div class="clear"></div>
		</div>
	</footer>
</div>
<script type="text/javascript">
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter29772848 = new Ya.Metrika({
                    id: 29772848,
                    webvisor: true,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true
                });
            } catch (e) { }
        });

        var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/29772848" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!— Google Tag Manager —>
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NCT6K7"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
            new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NCT6K7');</script>
<!— End Google Tag Manager —>
<script type="text/javascript" src="//cdn.callbackhunter.com/cbh.js?hunter_code=1fe375998513ecac24315921c2007898" charset="UTF-8"></script>
</div>


{% endblock %}
