{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<meta charset="utf-8" />
<section class="contact-page">
    <div class="container relative contact-page__contacts">
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="row">
                    <div class="col-md-4 contact-page__contacts__icon">
                        <i class="glyphicon glyphicon-earphone"></i>
                    </div>
                    <div class="col-md-8 contact-page__contacts__descr">
                            +7(342) 288-11-91
                            <br>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="alt-features-item-1 align-center">
                    <div class="row">
                    <div class="col-md-4 contact-page__contacts__icon">
                        <i class="glyphicon glyphicon-home"></i>
                    </div>
                    <div class="col-md-8 contact-page__contacts__descr">
                        г. <span itemprop="addressLocality">Пермь</span>, улица <span itemprop="streetAddress" content="Стахановская, 54И">Шоссе Космонавтов 310Г</span>
                    </div>
                        </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="alt-features-item-1 align-center">
                    <div class="row">
                    <div class="col-md-4 contact-page__contacts__icon">
                        <i class="glyphicon glyphicon-credit-card"></i>
                            </div>
                            <div class="col-md-8 contact-page__contacts__descr">
                                <a href="mailto:pit-line@bk.ru">pit-line@bk.ru</a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div class="contact-page__map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4485.771887504383!2d56.10516595103162!3d57.9539143346363!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43e8bed36d1d3bd3%3A0xd569357004c36fa1!2sPit+Line!5e0!3m2!1sru!2sru!4v1484070492428" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</section>
<!--
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
-->
{% endblock %}
