{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="director_main">
    <div class="container">
        <div class="row">
            <div class="col-md-4">

                <div class="page_block">
                <div class="director__img">

                    <img src={{object.foto.url}}>
                </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="page_block">
                {{object.text_welcome|safe}}
                <hr>

                <div class="row">
                    <div class="col-md-6">
                        <h2 class="director__contact">Контакты</h2>
                    </div>
                    <div class="col-md-6 director__contact__coonect">
                        <button type="button" class="btn btn-primary" onclick="send_msg_director()">Напишите мне</button>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-md-12">
                        {{object.contact|linebreaksbr|safe}}
                    </div> 
                </div> 
                   
                
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="page_block">
                {{object.text_base}}
            </div>
            </div>
        </div>
    </div>
</div>


<div id="question" class="modal question">
    <div class="modal-box">
        <div class="modal-title">
            Задать вопрос
            <span>заполните форму и мы обязательно свяжемся с вами!</span>
        </div>
        <form id="callbacks" name="callbacks" action="/sender.php">
            <input type="hidden" name="referer" value="http://pitline59.ru/">
            <div class="form_left">
                <label class="name right required"><input type="text" name="name" class="input_name" placeholder="ваше имя" /></label>
                <label class="email right"><input type="text" name="send" class="input_email" placeholder="ваш e-mail" /></label>
                <label class="phone right required"><input type="text" name="phone" class="input_phone" placeholder="ваш телефон" /></label>
            </div>
            <div class="form_right">
                <textarea placeholder="ваш вопрос"></textarea>
            </div>
            <div class="clear"></div>
            <input class="bttn button" type="button" name="question" value="Задать вопрос" />
        </form>
    </div>
</div>

<script>

    function send_msg_director() {
        $('#question').modal('toggle');
        };
</script>

{%endblock%}


