

<!DOCTYPE html>

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>

<title>Pit Line - Кузовной ремонт в Перми</title>
{% load staticfiles %}
<link rel="icon" type="image/png" href="images/favicon.png" />
<link rel="icon" type="image/x-icon" href="images/favicon.ico" />
<link rel="apple-touch-icon" href="{% static 'app/images/apple-touch-icon.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />

<script type="text/javascript" src="{% static 'app/ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/code.jquery.com/jquery-migrate-1.2.1.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/jquery.leanModal.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/scripts.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/validator.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/fancybox/jquery.fancybox8cbb.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/jquery.maphilight.js' %}"></script>
<link rel="stylesheet" href="{% static 'app/js/fancybox/jquery.fancybox8cbb.css' %}" />

<!--<script type="text/javascript" src="ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>  
<script type="text/javascript" src="code.jquery.com/jquery-migrate-1.2.1.js"></script>
<script type="text/javascript" src="js/jquery.leanModal.min.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>
<script type="text/javascript" src="js/validator.js"></script>
<script type="text/javascript" src="js/fancybox/jquery.fancybox8cbb.js"></script>
<script type="text/javascript" src="js/jquery.maphilight.js"></script>
<link rel="stylesheet" href="js/fancybox/jquery.fancybox8cbb.css" />
<link rel="stylesheet" href="css/reset.css" />
<link rel="stylesheet" href="css/fonts.css" />
<link rel="stylesheet" href="css/style.css" />-->

<link rel="stylesheet" href="{% static 'app/content/reset.css' %}" />
<link rel="stylesheet" href="{% static 'app/content/fonts.css' %}" />
<link rel="stylesheet" href="{% static 'app/content/style.css' %}" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"><img src="{%static 'app/images/logo2.png'%}"></a>
                <div class="header__addres"> ул. Шоссе Космонавтов 310Г</div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">Кузовные работы</a></li>
                    <li><a href="{% url 'locksmith-index' %}">Слесарные работы</a></li>
                </ul>

			<div class="t_phone">
				 +7(342) 288 11 91  &nbsp;
				<a id="go" rel="leanModal" name="callback" href="#callback" class="mc">заказать звонок</a>
			</div>
            </div>

                <ul class="nav navbar-nav navbar-nav-small" id="sidebar">
                    {%block navbar-small%}
                    {%endblock%}
                </ul>
        </div>
    </div>


{% block content %}{% endblock %}
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script >




 $(document).ready(function(){
$('a[href*=#]').bind("click", function(e){
var anchor = $(this);
$('html, body').stop().animate({
scrollTop: $(anchor.attr('href')).offset().top
}, 1000);
e.preventDefault();
});
return false;
}); 



$(document).ready(function () {
$(window).scroll(function(){
        var window_top = $(window).scrollTop() + 12; 
       // the "12" should equal the margin-top value for nav.stickydiv
        var div_top = $('#checkdiv').offset().top;
        if (window_top >= div_top) {
                $('nav').addClass('stickydiv');
            } else {
                $('nav').removeClass('stickydiv');
            }
    });  

  $(document).on("scroll", onScroll);

$('a[href^="#"]').on('click', function (e) {
      e.preventDefault();
        $(document).off("scroll");
         $('a').each(function () {
            $(this).removeClass('active');
        })
        $(this).addClass('active');
         var target = this.hash,
         menu = target;
         $target = $(target);
       $('html, body').stop().animate({
            'scrollTop': $target.offset().top+2
        }, 600, 'swing', function () {
            window.location.hash = target;
            $(document).on("scroll", onScroll);
        });
    });
});

function onScroll(event){
    var scrollPos = $(document).scrollTop();
    $('#sidebar a').each(function () {
        var currLink = $(this);
       var refElement = $(currLink.attr("href"));
        if (refElement.position().top <= scrollPos && refElement.position().top + refElement.height() > scrollPos) {
            $('#sidebar ul li a').removeClass("active");
            currLink.addClass("active");
        }
        else{
            currLink.removeClass("active");
        }
    });
}
    </script>

    </body>
    </html>

